@model Employee

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Employee.cshtml";
}

<h1>Index</h1>

<a asp-action="Index" asp-route-todayId="0">TODAY</a> |
<a asp-action="Index" asp-route-todayId="1">Sunday</a> |
<a asp-action="Index" asp-route-todayId="2">Monday</a> |
<a asp-action="Index" asp-route-todayId="3">Tuesday</a> |
<a asp-action="Index" asp-route-todayId="4">Wednesday</a> |
<a asp-action="Index" asp-route-todayId="5">Thursday</a> |
<a asp-action="Index" asp-route-todayId="6">Friday</a> |
<a asp-action="Index" asp-route-todayId="7">Saturday</a> |
<a asp-action="Index" asp-route-todayId="8">ALL</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Street Name and Number
            </th>
            <th>
                City
            </th>
            <th>
                Zip Code
            </th>
            <th>
                Pickup Day
            </th>
            <th>
                Customer
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var pickup in Model.Pickups) {
        <tr>
            <td>
                @pickup.Address.Street_Number_and_Name
            </td>
            <td>
                @pickup.Address.City
            </td>
            <td>
                @pickup.Address.Zip_Code
            </td>
            <td>
                @pickup.Day.Name
            </td>
            <td>
                <a asp-action="DisplayCustomerDetails" asp-route-id="@pickup.Address.Customer_Id">@pickup.Address.Customer.Name</a>
            </td>
            <td>
                <a asp-action="MarkComplete" asp-route-id="@pickup.Id" asp-route-day="@pickup.Day.Name">Mark Complete</a>
            </td>
        </tr>
}
    </tbody>
</table>
