@model Employee

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Employee.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Street Name and Number
            </th>
            <th>
                City
            </th>
            <th>
                Zip Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var pickup in Model.Pickups) {
        <tr>
            <td>
                @pickup.Address.Street_Number_and_Name
            </td>
            <td>
                @pickup.Address.City
            </td>
            <td>
                @pickup.Address.Zip_Code
            </td>
            <td>
                <a asp-action="MarkComplete" asp-route-id="@pickup.Id">Mark Complete</a> |
                <a asp-action="Details" asp-route-id="@pickup.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
